<%= month_calendar events: @task do |date, tasks| %>
    <%= date %>

    <%= tasks.each do |task| %>
    <li><%= task.name %></li>
    <% end %>
<% end %>


<h2><%= link_to("課題の登録はこちら", "/task/new") %></h2>
<h2><%= link_to("登録されている課題一覧はこちら", "/task/index")%></h2>